<app-header></app-header>
<div class="main-wrapper">
  <div class="container">
    <div class="wrapper">
      <div class="searching_field m-b-20">
        <input type="text" class="form-control" placeholder="Username" id="username">
        <input type="text" class="form-control" placeholder="Email" id="email">
        <div class="input-group-append">
          <button class="btn btn-primary" type="button" (click)="filterUser()">Search User</button>
          <button class="btn btn-info" type="button" [routerLink]="['/statistic']">Statistics</button>
        </div>
      </div>
      <div class="content">
        <div *ngFor="let item of userList" class="item-wrapper">
          <div class="name">{{item.firstName}} {{item.lastName}}</div>
          <div class="info">
            <div class="info-items">
              <div class="mail">Email: {{item.email}}</div>
              <div class="username">Username: {{item.userName}}</div>
              <div class="ban">HasBan: {{item.isBanned}}</div>
              <div class="admin">IsAdmin: {{item.isAdmin}}</div>
            </div>
            <div class="input-group-append">
              <button *ngIf="item.isAdmin" class="btn btn-secondary" type="button" (click)="removeAdminRole(item.id)">Delete admin role</button>
              <button *ngIf="!item.isAdmin" class="btn btn-success" type="button" (click)="addAdminRole(item.id)">Add admin role</button>
              <button *ngIf="item.isBanned" class="btn btn-warning" type="button" (click)="banUser(item.id)">Unban User</button>
              <button *ngIf="!item.isBanned" class="btn btn-danger" type="button" (click)="banUser(item.id)">Ban User</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
