.error{
  position: relative;
}
.error-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 290px;
  min-height: 140px;
  overflow: hidden;
  border: 2px solid rgba(245, 181, 57, 255);
  background-color: rgba(250, 239, 207, 255);
  color: rgba(85, 63, 85, 255);
  padding: 10px 15px;
}
.title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.message{

}
hr{
  border-top: 2px solid;
  border-image: linear-gradient(90deg, rgba(85,63,85,1) 0%, rgba(245,181,57,1) 0%) 1;
  transition: border-image 5s;
}
.absolute{
  position: absolute;
}

.progress{
  position: relative;
  width: 100%;
}
.progress .color{
  position: absolute;
  background-color: #f5b539;
  width: 0px;
  height: 5px;
  animation: progres 6s 1 linear;
}
@keyframes progres{
  0%{
    width: 0%;
  }
  25%{
    width: 50%;
  }
  50%{
    width: 75%;
  }
  75%{
    width: 85%;
  }
  100%{
    width: 100%;
  }
}
