<app-header></app-header>
<div class="profile-limiter">
  <div class="profile-container">
    <div class="profile-wrap">
      <form class="login100-form validate-form" [formGroup]="editUserForm" novalidate (ngSubmit)="submit(editUserForm.value)">
        <div class="form-group">
          <label for="oldPassword">Old Password</label>
          <input
            type="password"
            id="oldPassword"
            formControlName="oldPassword"
            class="form-control">
          <div class="exception color-red f-s-8" *ngIf="validateControl('oldPassword')">
            <span>*Password must contain >8 symbols</span>
          </div>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password</label>
          <input
            type="password"
            id="newPassword"
            formControlName="newPassword"
            class="form-control">
          <div class="exception color-red f-s-8" *ngIf="validateControl('newPassword')">
            <span>*Password must contain >8 symbols</span>
          </div>
        </div>
        <div class="buttons">
          <button type="submit" [disabled]="editUserForm.invalid" class="btn btn-primary">Confirm</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
