<app-header></app-header>
<div class="user-profile-wrapper">
  <form class="login100-form validate-form" [formGroup]="editUserForm" novalidate (ngSubmit)="submit(editUserForm.value)">
    <app-input
      type="text"
      id="oldPassword"
      formControlName="oldPassword"
      [inputParameters]="oldPasswordConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('username')" class="color-red">*Password must contain >8 symbols</span>
    </div>
    <app-input
      type="text"
      id="newPassword"
      formControlName="newPassword"
      [inputParameters]="newPasswordConfig"></app-input>
    <div class="exception m-b-10 color-red f-s-8">
      <span *ngIf="validateControl('email')" class="color-red">*Password must contain >8 symbols</span>
    </div>
    <div class="buttons">
      <app-main-button type="submit" [inputParameters]="confirmButton" [disabled]="editUserForm.invalid" ></app-main-button>
      <app-main-button [inputParameters]="cancelButton" (click)="cancel()"></app-main-button>
    </div>
  </form>
</div>
