<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="loginForm" novalidate (ngSubmit)="submit(loginForm.value)">
        <div class="welcome-wrap">
          <div class="welcome-content">
            <div class="welcome-wrap__img">
              <img src="https://melodyfusion.blob.core.windows.net/photo/logo.svg" class="welcome-wrap__img-size">
            </div>
            <span class="login100-form-title">
              MelodyFusion
            </span>
          </div>
        </div>
        <div class="sign-in-text">Sign in</div>

        <div class="input-wrap">
          <i class="fa fa-user input-icon"></i>
          <div class="input-wrap">
            <i class="fa fa-user input-icon"></i>
            <input
              type="text"
              id="username"
              formControlName="username"
              placeholder="Login..."
              class="form-control"
            >
          </div>
        </div>
        <div class="exception color-red f-s-8">
          <span *ngIf="validateControl('username')" class="color-red">*Username is required</span>
        </div>

        <div class="input-wrap">
          <i class="fa fa-lock input-icon"></i>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Password..."
            class="form-control"
          >
        </div>
        <div class="exception color-red f-s-8">
          <span *ngIf="validateControl('password')" class="color-red">*Password is required</span>
        </div>

        <div class="form-group m-b-15">
          <button type="submit" class="login-button">Login</button>
        </div>
      </form>
      <div class="nav-link">
        <span class="first-time-text">First time here?</span>
        <a [routerLink]="['/registration']">Sign up</a>
      </div>
    </div>
  </div>
</div>
