/* Variables */
$background-color: #f2f2f2;
$white-color: #fff;
$gray-color: #666666;
$dark-gray-color: #333333;
$red-color: red;
$font-family-bold: 'Poppins-Bold', serif;
$font-family-regular: 'Poppins-Regular', serif;
$box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
$font-size-large: 30px;
$font-size-medium: 18px;
$font-size-small: 14px;
$font-weight-bold: bold;
$border-radius: 8px;
$input-border: 1px solid #fff;

/*//////////////////////////////////////////////////////////////////
[ login ]*/

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-login100 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: $background-color;
}

.wrap-login100 {
  width: 390px;
  background: $white-color;
  border-radius: 10px;
  overflow: hidden;
  padding: 77px 55px 33px 55px;
  box-shadow: $box-shadow;
  background: #5e78bf;
}

.welcome-wrap {
  margin-bottom: 20px;

  .welcome-content {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img-size {
    max-height: 50px;
    max-width: 50px;
  }
}

.login100-form-title {
  font-family: $font-family-bold;
  font-size: $font-size-large;
  color: $dark-gray-color;
  line-height: 1.2;
  text-align: center;
}

.sign-in-text {
  text-align: center;
  font-family: $font-family-regular;
  font-size: $font-size-medium;
  color: $dark-gray-color;
  margin-bottom: 20px;
  font-weight: $font-weight-bold;
}

/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.input-wrap {
  position: relative;
  margin-bottom: 20px;
  width: 320px;

  .input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #adadad; /* цвет иконки */
  }

  input.form-control {
    width: calc(100% - 40px);
    padding-left: 40px;
    border: 1px solid #adadad;
    border-radius: $border-radius;
    height: 40px;
    font-size: $font-size-medium;
    transition: border-color 0.3s ease;

    &:focus {
      outline: none;
      border-color: #6a7dfe;
    }
  }
}

.login-button {
  background-color: #4CAF50;
  color: $white-color;
  border: none;
  width: 320px;
  border-radius: $border-radius;
  padding: 10px 20px;
  font-size: $font-size-medium;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #45a049;
  }

  &:focus {
    outline: none;
  }
}

.txt1 {
  font-family: $font-family-regular;
  font-size: 13px;
  color: $gray-color;
  line-height: 1.5;
}

.txt2 {
  font-family: $font-family-regular;
  font-size: 13px;
  color: $dark-gray-color;
  line-height: 1.5;
}

.color-red {
  color: $red-color;
}

.f-s-8 {
  font-size: $font-size-small;
}

.exception {
  margin-bottom: 5px;
  transition: margin-bottom 0.5s;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.first-time-text {
  font-size: $font-size-small;
  margin-right: 10px;
}

.registration-link {
  color: #6a7dfe;
  text-decoration: underline;
  cursor: pointer;
}


.form-group {
  display: flex;
  justify-content: center;
}
