<app-header class="header"></app-header>
<div class="header-background">
  <div class="container">
    <div class="image-blocks">
      <div class="image-block">
        <img src="https://melodyfusion.blob.core.windows.net/photo/logo.svg" alt="Logo">
      </div>
      <!--<div class="find-music-block">
        <div class="circle">
          <img src="https://melodyfusion.blob.core.windows.net/photo/logo.svg" alt="Logo" class="find-music-logo">
        </div>
      </div>-->
      <div class="image-block">
        <img src="https://melodyfusion.blob.core.windows.net/photo/logo.svg" alt="Logo">
      </div>
    </div>
    <form [formGroup]="musicRecommendation" novalidate (ngSubmit)="submit(musicRecommendation.value)">
      <div class="input-blocks">
        <div class="input-block">
          <input type="text" id="Name_song1" formControlName="first_song_name" placeholder="Search music" (ngModelChange)="onInputChange($event, 0)">
<!--          <div class="exception m-b-10 color-red f-s-8">-->
<!--            <span *ngIf="validateControl('first_song_name')" class="color-red">*Password must contain:<br>1)a-z and A-Z<br>2)Must contain 3 symbol<br></span>-->
<!--          </div>-->
        </div>
        <div class="input-block">
          <input type="text" id="Name_song2" formControlName="second_song_name" placeholder="Search music" (ngModelChange)="onInputChange($event, 1)">
<!--          <div class="exception m-b-10 color-red f-s-8">-->
<!--            <span *ngIf="validateControl('second_song_name')" class="color-red">*Password must contain:<br>1)a-z and A-Z<br>2)Must contain 3 symbol<br></span>-->
<!--          </div>-->
        </div>
      </div>
      <div class="selected-blocks">
        <div class="selected-block">
          <select formControlName="first_song_select">
            <option *ngFor="let song of matchingFirstSongs" [value]="song.id">{{ song.name }}</option>
          </select>
        </div>
        <div class="selected-block">
          <select formControlName="second_song_select">
            <option *ngFor="let song of matchingSecondSongs" [value]="song.id">{{ song.name }}</option>
          </select>
        </div>
      </div>
      <div class="button-block"><button class="main-button" type="submit">Get Recommendation</button></div>
    </form>
    <div class="recommendations-container" *ngIf="listRecommendedSongs && listRecommendedSongs.length > 0">
      <h2>Recommendations received</h2>
      <div class="music-recommendation-blocks" >
        <div class="music-recommendation-block" *ngFor="let song of listRecommendedSongs">
          <div>
            <img src="{{song.previewUrl}}" alt="Song_Preview">
          </div>
          <div>
            <span>Song name: {{song.name}}</span><br>
            <span>Artist name: {{song.artistName}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="recommendations-container" *ngIf="lastRecommendedSongs && lastRecommendedSongs.length > 0">
      <h2>Last recommendations</h2>
      <div class="music-recommendation-blocks" >
        <div class="music-recommendation-block" *ngFor="let song of lastRecommendedSongs">
          <div>
            <img src="{{song.previewUrl}}" alt="Song_Preview">
          </div>
          <div>
            <span>Song name: {{song.name}}</span><br>
            <span>Artist name: {{song.artistName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
