<app-header></app-header>
<div>
  <h3>Поиск</h3>

  <form [formGroup]="musicRecommendation" novalidate (ngSubmit)="submit(musicRecommendation.value)">
    <app-input
      type="text"
      id="Name_song1"
      formControlName="first_song_name"
      [inputParameters]="FirstSongInput"
      (ngModelChange)="onInputChange($event, 0)"
    >
    </app-input>
    <app-input
      type="text"
      id="Name_song2"
      formControlName="second_song_name"
      [inputParameters]="SecondSongInput"
      (ngModelChange)="onInputChange($event, 1)"
    >
    </app-input>

    <select formControlName="first_song_select" >
      <option *ngFor="let song of matchingFirstSongs" [value]="song.id">{{ song.name }}</option>
    </select>

    <select formControlName="second_song_select">
      <option *ngFor="let song of matchingSecondSongs" [value]="song.id">{{ song.name }}</option>
    </select>


    <app-main-button [inputParameters]="getRecommendation" type="submit"></app-main-button>
  </form>

  <table *ngIf="lastRecommendedSongs && lastRecommendedSongs.length > 0" border="1">
    <thead>
    <tr>
      <th>Имя песни</th>
      <th>Исполнитель</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let song of listRecommendedSongs">
      <td>{{ song.name }}</td>
      <td>{{ song.artistName }}</td>
    </tr>
    </tbody>
  </table>

</div>
