<div class="header-background">
  <div class="header-container">
    <div class="header-wrap">
      <div class="header-logo">
        <a class="header-logo">
          <img src="https://melodyfusion.blob.core.windows.net/photo/logo.svg" class="logo">
        </a>
        <span class="program-name">MelodyFusion</span>
      </div>
      <div class="profile">
        <div class="language-container">
          <a class="language white" (click)="setCulture('uk')">uk</a>
          <a class="language white" (click)="setCulture('en')">en</a>
        </div>
        <a routerLink="/music-recommendation" routerLinkActive="active-link">Home</a>
        <a routerLink="/profile" routerLinkActive="active-link">{{'header.profile' | translate}}</a>
        <a *ngIf="isAdmin" routerLink="/admin-panel" routerLinkActive="active-link">{{'header.admin' | translate}}</a>
        <a (click)="logout()" routerLink="/login">{{'header.logout' | translate}}<fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon></a>
      </div>
    </div>
  </div>
</div>
