<div class="header-container">
  <div class="header-wrap">
    <div class="header-logo ">
      <!--      <div class="burger">-->
      <!--        <nav class="burger">-->
      <!--          <div class="burger-button">-->
      <!--            <span class="burger-top"></span>-->
      <!--            <span class="burger-middle"></span>-->
      <!--            <span class="burger-bottom"></span>-->
      <!--          </div>-->
      <!--          <div class="burger-menu">-->
      <!--            <a class="nav-menu__button white">Lost animals</a>-->
      <!--            <a class="nav-menu__button white">+Advertise</a>-->
      <!--            <a class="nav-menu__button white">Questions</a>-->
      <!--            <a class="nav-menu__button white" *ngIf="isAdmin">Handle users</a>-->
      <!--          </div>-->
      <!--        </nav>-->
      <!--      </div>-->
    </div>
    <div class="nav-container">
      <nav class="nav-menu">
        <a class="nav-menu__button white">текст</a>
        <a class="nav-menu__button white">текст</a>
        <a class="nav-menu__button white" *ngIf="isAdmin" routerLink="/admin-panel">админка</a>
      </nav>
    </div>
    <div class="profile">
      <button class="m-r-10" routerLink="/profile"></button>
    </div>
  </div>
</div>
