<div class="wrap-input100 validate-input"
     [ngClass]="{
       small: inputParameters.size === 'small'
       }">
  <span *ngIf="inputParameters.icon" class="btn-show-pass">
    <fa-icon (click)="changeType(type)"></fa-icon>
  </span>
  <input class="input100"
         [type]="type"
         [value]="value"
         [placeholder]="inputParameters.placeholder"
         [disabled]="inputParameters.isDisabled"
         (input)="change($event)"
  />
  <span class="focus-input100"></span>
</div>
